html, body {
    height: 100%;
    background-color: #F9F9F9;
}

.hero-body {
    background-color: #04619f;
}

.footer {
    padding: 3rem 1.5rem;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 0rem);
}

.has-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: unset;
}

a.navbar-item:hover {
    background-color: #04619f;
    color: #FFFFFF;
}

a.navbar-item.is-active:not(:focus):not(:hover) {
    background-color: #04619f;
    color: #FFFFFF;
}

#facebook-icon:hover {
    color: #3B5998;
}

#linkedin-icon:hover {
    color: #0E76A8;
}

#github-icon:hover {
    color: #6F42C1;
}

#email-icon:hover {
    color: #2EBFA5;
}