html, body {
    height: 100%;
    background-color: #F9F9F9;
}

.footer {
    padding: 3rem 1.5rem;
}

.navbar-burger {
    height: inherit; 
}

#colour-palette {
    color: #FFFFFF;
}

.hero.is-fullheight-with-navbar {
    min-height: calc(100vh - 0rem);
}

.has-vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    color: unset;
}

#feed *, ::after, ::before {
    box-sizing: unset;
}

a.navbar-item.blue-jeans.is-active {
    background-color: #04619f !important;
    color: #FFFFFF;
}

a.navbar-item.blue-jeans-hover:hover {
    background-color: #04619f !important;
    color: #FFFFFF;
}

a.navbar-item.magenta.is-active {
    background-color: #DF367C !important;
    color: #FFFFFF;
}

a.navbar-item.magenta-hover:hover {
    background-color: #DF367C !important;
    color: #FFFFFF;
}

a.navbar-item.fiery-rose.is-active {
    background-color: #FF5964 !important;
    color: #FFFFFF;
}

a.navbar-item.fiery-rose-hover:hover {
    background-color: #FF5964 !important;
    color: #FFFFFF;
}

a.navbar-item.violet-blue.is-active {
    background-color: #7776BC !important;
    color: #FFFFFF;
}

a.navbar-item.violet-blue-hover:hover {
    background-color: #7776BC !important;
    color: #FFFFFF;
}

a.navbar-item.gunmetal.is-active {
    background-color: #2A2D34 !important;
    color: #FFFFFF;
}

a.navbar-item.gunmetal-hover:hover {
    background-color: #2A2D34 !important;
    color: #FFFFFF;
}

.dropdown-item {
    height: 2rem;
    width: 1rem;
}

#facebook-icon:hover {
    color: #3B5998;
}

#linkedin-icon:hover {
    color: #0E76A8;
}

#github-icon:hover {
    color: #6F42C1;
}

#email-icon:hover {
    color: #2EBFA5;
}

.transition {
    transition: left 0s ease-in-out, background-color 1s ease-out 0s;
}

.blue-jeans {
    background-color: #04619f !important;
}

.magenta {
    background-color: #DF367C !important;
}

.fiery-rose {
    background-color: #FF5964 !important;
}

.violet-blue {
    background-color: #7776BC !important;
}

.gunmetal {
    background-color: #2A2D34 !important;
}